#include <stdio.h>

int main()
{
   float a;
   int b;
   float f;
   
   printf("Inserisci la base: ");
   scanf("%f", &a);
   printf("Inserisci la potenza: ");
   scanf("%d", &b);
   
   f=a;
   
   for(int i=1; i<b; i++)
   {
       f=f*a;
   }
   printf("%.2f", f);
   
return 0;
}
